@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur MyPharmacie, votre pharmacie en ligne 24/24h & 7/7j ! <span> <img src="img/online-pharmacy.png" width="56" height="56"/> </span></h1>
</div>
<br/> 

<h4> Vous êtes à la recherche d’un médicament sans ordonnance ou d’un article de parapharmacie ? 
    <br/> Ne cherchez plus, vous êtes au bon endroit ! </h4>

<br/>
<ul>
    <li><h5> Qu'est-ce qu'une pharmacie en ligne ? <span> <img src="img/online-pharmacy1.png" width="32" height="32"/></span> </h5></li>
</ul>

<p> Les pharmacies en ligne ou pharmacies du web sont des pharmacies qui exercent sur Internet et expédient les commandes aux patients. 
    <br/>On observe plusieurs catégories de pharmacies en ligne, parmi lesquelles : </p>
<ul>
    <li>
        Pharmacie en ligne légale dans le pays duquel la personne passe commande.
    </li>
    <li>
        pharmacie en ligne légale dans un pays différent de celui duquel la personne passe commande. 
        <br/> En général, cette pharmacie est enregistrée dans son pays d'origine et suit la réglementation locale.
    </li>
</ul>

<ul>
    <li> <h5> Puis-je me procurer des médicaments sous ordonnance ?<span> <img src="img/ordonnance.png" width="32" height="32"/></span>  </h5></li>
</ul>
<p>Conformément à la législation française, nous ne sommes pas en mesure de procéder à la vente de médicaments en ligne sur MyPharmacie. 
    <br/>Si vous avez une ordonnance, nous vous invitons à consulter votre officine de proximité ou votre pharmacie de garde.</p>
    
<p> Vous pouvez consulter notre catalogue de médicaments en <a asp-area="" asp-controller="Home" asp-action="Catalogue"> cliquant ici </a> </p>