@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de rénitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été rénitialisé. Veuillez <a asp-page="./Login">cliquer ici pour vous authentifier</a>.
</p>
